@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--body-font);
    color: var(--body-color);
    font-size: 18px;
}

:root {
    --shadow1: #f9c8d2ff;
    --shadow2: #70e2ffff;
    --extra-color: #f52f57ff;
    --heading-color: #495867ff;
    --body-color: #37393aff;

    --heading-font: 'Merriweather', serif;
    --body-font: 'Lato', 'Roboto', sans-serif; 
    --emergency-font: 'Roboto', sans-serif;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--heading-color);
}

h1{
    font-size: 60px;
    margin: 60px;
    padding: 60px;
}

h2 {
    font-size: 35px;
}

header, footer {
    background-color: var(--shadow2);
    text-align: center;
}

header {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

nav {
    margin: 0 auto;
    background-color:var(--heading-color);
    text-align: center;
    font-size: 25px;
    color: white;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

nav ul {
    display: flex;
    justify-content: center;
    text-align: center;
}

nav .active {
    background-color:var(--extra-color);
    border: solid 1px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-shadow: 2px 2px 2px black;
}

nav ul li {
    display: flex;
    flex: 1 1 auto;
    text-align: center;
    align-items: center;
    justify-content: center;
}

nav li {
    padding: 8px;
}

nav li:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

main {
    margin: 20px;
}

section {
    margin: 30px 0 30px 0;
}

.color-table {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px auto;
    text-align: center;
    max-width: 800px;
}

.color-name, .color-example {
    border: 2px solid black;
    padding: 20px;
}

.color-example.heading-font {
    background-color: var(--heading-color);
    color: white;
}

.color-example.body-font {
    background-color: var(--body-color);
    color: white;
}

.color-example.background1 {
    background-color: var(--shadow1);
}

.color-example.background2 {
    background-color: var(--shadow2);
}

.color-example.extra {
    background-color: var(--extra-color);
    color: black;
}

.font-usage {
    margin: 20px;
    border: 2px solid black;
    max-width: 800px;
}
.extra-font {
    font-family: var(--emergency-font);
}

.wireframe img {
    max-width: 800px;
    justify-content: center;
}