:root {
    --input-box: #d3f6f8;
    --body-text-color: #3e2d59;
    --border-color: #e3c012;
}

form {
    grid-column: 1/4;
}

form fieldset {
    margin: 2rem 0;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: .5rem 2%;
}

form legend {
    color: var(--body-text-color);
    margin: 0 1rem;
    padding: 0 .5rem;
}

.required, #messageHere, #incorrectDomain {
    color: rgb(212, 38, 38);
}

form label.top {
    display: block;
    padding-top: 1rem;
    color: var(--body-text-color);
    font-size: .8rem;
    text-align: left;
}

form label.top input, form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 22px;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: var(--body-text-color);
    width: 100%;
    max-width: 20rem;
    background-color: var(--input-box);
}

form input.submitBtn {
    background-color: var(--body-text-color);
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
    transition: opacity 0.5s ease, color 0.5s ease;
}

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
    background-color: var(--input-box);
}

#rating {
    margin-left: 10px;
    width: 250px;
}

#rangeValue {
    font-size: 2rem;
    color: var(--body-text-color);
}

#rangeValues {
    display: flex;
    margin: 0 0 0 15px;
    width: 260px;
}

#rangeValues option {
    flex: 1 1 auto;
}

@media only screen and (min-width: 45em) {
    .submitBtn:hover {
        opacity: .6;
        color: black;
    }

    #rating {
        margin-left: 10px;
        width: 310px;
    }

    #rangeValues {
        width: 328px;
    }
}