@media only screen and (min-width: 450px) {    
    header, nav ul {
        display: flex;
        justify-content: center;
        text-align: center;
    }
    
    header, main, nav, footer {
        max-width: 900px;
        margin: 0 auto;
    }

    nav {  
        margin: 0 auto;
        height: 44px;
    }
    
    #menuButton {
        display: none;
    }

    
    ul.navLinks, ul.navLinks.open {
        display: flex;
        justify-content: space-evenly;
    }

    nav a {
        padding: 10px;
    }

    nav li:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }

    main {
        display: grid;
        margin: 0 auto;
        grid-template-columns: auto auto;
        grid-template-rows: auto 1fr;
        gap: 20px;
    }

    main h1 {
        margin: 0;
        height: 70px;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .card {
        margin: 0 0 20px 0;
        grid-row-start: 2;
        grid-template-columns: 70% 30%;
        column-gap: 5px;
        box-shadow: 1px 1px 10px black;
    }
}