@media only screen and (min-width: 2000px) {
    .card {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 10px;
    }

    .card section {
        box-shadow: 1px 1px 10px black;
    }
    /* nav ul{
        display: flex;
        width: 1fr 1fr 1fr 1fr;
    } */

    /* nav li:hover {
        background-color: rgba(255, 255, 255, 0.2);
    } */

    /* a:link {text-decoration: none;}
    a:visited {text-decoration: none;}
    a:hover {text-decoration: none;}
    a:active {text-decoration: none;} */
}